.eb-garamond-uniquifier {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.modak-regular {
    font-family: "Modak", system-ui;
    font-weight: 400;
    font-style: normal;
}

li {
    font-family: "EB Garamond", serif;
}


.logocinema {
    width: 10vh;
}

.navbarcustom {
    background-color: rgb(124, 22, 22) !important;
}

body {
    background-image: url(./media/cielo\ stellato.jpg);
}

.textnavcustom {
    font-size: 20px;
    color: rgb(177, 177, 177);
}

.bottoncustom {
    background-color: black;
    color: rgb(177, 177, 177);
    border-color: transparent;
}

.bottoncustom:hover {
    background-color: white;
    color: black;
}

.imgheader {
    width: 100%;
    height: 100%;
    z-index: 5;
}

h1 {
    font-size: 60px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: rgb(124, 22, 22);
    -webkit-text-stroke: rgb(177, 177, 177) 3px;
}

.card {
    background-color: rgb(177, 177, 177);
}

.card-text {
    font-family: "EB Garamond", serif;
    font-size: 10px;
}

.logo-film-custom {
    width: 50vh;
}

form,
.bottoncustom {
    font-family: "EB Garamond", serif;
    font-size: 1vh;
}

.faq {
    font-size: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: rgb(124, 22, 22);
    -webkit-text-stroke: rgb(177, 177, 177) 3px;
}

.accordioncustom {
    font-size: 10px;
}

.accordion-button {
    background-color: rgb(177, 177, 177) !important;
}

.accordion-item {
    background-color: white;
}

.accordion-body {
    color: rgb(124, 22, 22);
    font-size: bold;
}

footer {
    background-color: rgb(124, 22, 22);
}

.footer-text-custom {
    font-size: 10px;
}